@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
    margin: 0 !important;
    padding: 0 !important; ;
    box-sizing: border-box;
    /* font-family:"Lato", sans-serif;  */
}

.products {
    font-family: "Noto-Sans", sans-serif !important;
}

.footer-font {
    font-family: "Jost", sans-serif;
}

.nav-item {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #2F2F2F;
}

.navbar {
      padding: 16px;
 }
.navbar-nav {
      gap: 24px;
}

.icon-links a {
    color: #000;
    font-size: 20px;
    margin-left: 16px;
}

.navbar-brand img {
    height: 40px;
}
/* #mobileMenu {
      display: none !important;
    } */

    /* nav-bar stop here */


    /* Blog-2 styling start here */
/* .text-h3 {
    font-weight: 700;
    font-size: 48px;
    color: #212121;
} */
/* BLOG-2 STYLING START HERE */
.text-h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    font-family: "Noto-sans", sans-serif;
    color: #212121;
}

.blog-2-p {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #424242;
    line-height: 100%;
    margin-top: 80px !important;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: justify;
    font-family: "Noto-Sans", sans-serif;
}

.blog-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #424242;
    line-height: 100%;
    margin-top: 80px !important;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: justify;
    font-family: "Noto-Sans", sans-serif;
}


.blog-news .card-body {
    font-family: "Jost", sans-serif;
    width: 440px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
}
.card-blog-news .d-flex {
    background-color: #E0E0E0;
    width: 22rem;
    font-family: "Jost", sans-serif;
}
.card-blog-news span, .card-blog-news .fa-regular {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #424242;
}
.wade {
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    color: #212121 !important;
}
.blog-news h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    color: #212121;
}
.blog-news p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #424242;
}




/* #blog_nav {
    margin-left: 30px;
    margin-top: 75px;
    color: #00000080;
}

#blog_header{
    margin-top: 85px;
    font-family: 'Noto sans', sans-serif !important;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 60px;
}

#fist_blog_text{
    font-family: 'noto sans', sans-serif;
}

#blog_first_img {
        width: 94% !important;
    }

#second_blog_text p {
    font-family: 'noto sans', sans-serif;
}

#second_blog_header p {
     margin-top: 85px;
    font-family: 'Noto sans', sans-serif !important;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 60px;
} */
/* BLOG 2 STYLING ENDS HERE */



/* navigation 2 start here */
.pagination {
    margin: 0 3px !important;
    justify-content: center !important;
    gap: 20px !important;
}


/* footer styling start here */
.footer-font {
    font-family: "Jost", sans-serif;
}


.all-btn {
    font-family: "Jost", sans-serif;
    background-color: transparent;
    font-weight: 700;
    font-size: 18.56px;
    line-height: 100%;
    border: 2px solid #000;
    width: 237px;
    height: 56px;
}

.all-anchor {
    font-family: "Jost", sans-serif;
}

.mail-span {
    position: relative;
    font-family: "Jost", sans-serif;
}
/* footer contact email  */
.contact-mail {
   width: 320px;
    height: 56px;
    padding: 10px;
    border:0.7px  solid #FFFFFF;
    border-radius: 5px;
    font-size: 19px;
    margin-bottom: 20px;
    background-color: transparent;
    outline: none;
    color: #fff;
}
 ::placeholder {
    color: #fff;
    font-family: "jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

/* styling for arrow icon in footer email, with button as arrow */
.btn-arr {
    position: absolute;
    top: -21px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* styling for all anchor-buttons that have arrow icon links  */
.arrow-btn {
    position: absolute;
    top: 4px;
    right: -15px;
    padding: 16px 30px 16px 10px;
    color: black !important;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}
/* styling for the a-tag  with arrow icons   */
.btn-tag {
    position: relative;
    width: 90px !important;
    padding: 16px 40px 16px 10px;
    color: black !important;
    text-decoration: none;
    border: 1px solid #424242;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}
.email-btn {
    position: absolute;
    top: 24px;
    right: 1px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none; 
    cursor: pointer;
}
.contact-info {
    font-family: "Nunito Sans", sans-serif;
}
/* .fa-facebook, .fa-instagram, .fa-twitter, .fa-youtube {
    border-radius: 100%;
    background-color: #fff;
    padding: 25px 10px;
} */

hr {
    border: 2px solid #fff;
    width: 100%;
}
 
.copyright {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}
/* footer ends here  */




/* media quary for responsive */
@media screen and (max-width: 600px) {
    .navbar {
        padding: 0.1rem !important;
       /* max-width: 100% !important; */
    }
    body {
        max-width:  100% !important;
    }


    /* section 5 media query  */
    .text-h3 {
        font-weight: 400;
        font-size: 30px;
        margin-top: 50px !important;
    }

    .blog-2-p, .blog-text {
        font-weight: 400;
        font-size: 15px;
    }
     .blog-news .wf, .blog-news h3, .blog-news p {
        padding: 0px 10px !important;
     }
    
    .blog-news br {
        display: none !important;
     }
    .card-blog-news .d-flex {
        margin-top: 20px;
        width: 74vw;
   }
   .wade {
    font-size: 15px !important;
   }
   .blog-news .card-body {
    width: 100%;
    height: 63vh;
   }

}

/* media  */
@media screen and (max-width: 932px) {
    .blog-news .card-body {
        height: 390px ;
    }
}
