@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* LANDING PAGE STYLING */
* {
    margin: 0 !important;
    padding: 0 !important; ;
    box-sizing: border-box;
    /* font-family:"Lato", sans-serif;  */
}

.products {
    font-family: "Noto-Sans", sans-serif !important;
}

.footer-font {
    font-family: "Jost", sans-serif;
}

.nav-item {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #2F2F2F;
}

.navbar {
    padding: 16px;
}

.navbar-nav {
    gap: 24px;
}

.icon-links a {
    color: #000;
    font-size: 20px;
    margin-left: 16px;
}

.navbar-brand img {
    height: 40px;
}
/* #mobileMenu {
      display: none !important;
    } */

/* .navigation ul {
    margin: 0 3px !important;
} */



/* sign-up styling start here */
.sign {
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  width: 70% !important;
  height: 700px;
  margin: 20px !important;
  margin-top: 50px !important;
  margin-left: 200px !important; */
  /* to move the border to the right inorder to center it */
}
  


/* footer styling start here */
.footer-font {
    font-family: "Jost", sans-serif;
}


.all-btn {
    font-family: "Jost", sans-serif;
    background-color: transparent;
    font-weight: 700;
    font-size: 18.56px;
    line-height: 100%;
    border: 2px solid #000;
    width: 237px;
    height: 56px;
}

.all-anchor {
    font-family: "Jost", sans-serif;
}

.mail-span {
    position: relative;
    font-family: "Jost", sans-serif;
}
/* footer contact email  */
.contact-mail {
   width: 320px;
    height: 56px;
    padding: 10px;
    border:0.7px  solid #FFFFFF;
    border-radius: 5px;
    font-size: 19px;
    margin-bottom: 20px;
    background-color: transparent;
    outline: none;
    color: #fff;
}
 ::placeholder {
    color: #fff;
    font-family: "jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

/* styling for arrow icon in footer email, with button as arrow */
.btn-arr {
    position: absolute;
    top: -21px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* styling for all anchor-buttons that have arrow icon links  */
.arrow-btn {
    position: absolute;
    top: 4px;
    right: -15px;
    padding: 16px 30px 16px 10px;
    color: black !important;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}
/* styling for the a-tag  with arrow icons   */
.btn-tag {
    position: relative;
    width: 90px !important;
    padding: 16px 40px 16px 10px;
    color: black !important;
    text-decoration: none;
    border: 1px solid #424242;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}
.email-btn {
    position: absolute;
    top: 24px;
    right: 1px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none; 
    cursor: pointer;
}
.contact-info {
    font-family: "Nunito Sans", sans-serif;
}


hr {
    border: 2px solid #fff;
    width: 100%;
}
 
.copyright {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}
/* footer ends here  */



/* media quary for responsive */
@media screen and (max-width: 600px) {
    .navbar {
        padding: 0.1rem !important;
       /* max-width: 100% !important; */
    }
    body {
        max-width:  100% !important;
    }

    /* media quary for sinup */
    #exampleInputFullname1 {
        width: 95% !important;
    }

    #exampleInputEmailaddress1 {
       width: 95% !important;
    }

    #exampleInputPassword1 {
        width: 95% !important;
    }

    #exampleInputConfirmpassword1 {
       width: 95% !important;
    }

    .signup-create  {
        width: 99% !important;
    }

    .sign {
        padding-left: 10px !important;
        /* width: 100% !important; */
    }

    /* .sign {
        border: none !important;
        box-shadow: none !important;
        align-items: center;
    } */

    .footer-font {
        padding-left: 30px !important;
    }

}